<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="globalPackagesFolder" value=".\packages_rep" />
		<add key="repositoryPath" value=".\packages_rep" />
	</config>
	<packageSources>
        <add key="atIntegratedSystems" value="https://pkgs.dev.azure.com/atintegratedsystems/_packaging/atintegratedsystems/nuget/v3/index.json" />
    </packageSources>
</configuration>